<html>

<head>
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <form method="post">
        <label for="title"> title </label>
        <br/>
        <input type="text" name="title" id="title">
        <br/>
        <label for="topic"> topic </label>
        <br/>
        <input type="text" name="topic" id="topic">
        <br/>
        <label for="body">body</label>
        <textarea id="body" name="body"></textarea>
        <input type="submit" value="make a post!">
    </form>
</body>

</html>